node-linker=hoisted
public-hoist-pattern[]=*prisma* 
registry=https://registry.npmjs.org/
strict-ssl=false
legacy-peer-deps=true
package-lock=false
fetch-retry-maxtimeout=1200000
fetch-timeout=1200000
fetch-retries=5
network-timeout=1200000 